.App{
  display: flex;
  background-color: rgb(175, 171, 171);
  min-height: 100vh;
}

.UserAndSearchContainer{
  display: flex;
  flex:2;
  align-items: center;
  flex-direction: column;
}

.SideBar {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}